{% extends '../_base.html' %}

<!-- THE TITLE BLOCK -->
{% block title %} Posts | FB-AUTO {% endblock %}

<!-- THE STYLES BLOCK -->
{% block styles %}
<link rel="stylesheet" href="/css/posts/posts.css" />
{% endblock %}

<!-- THE CONTENT BLOCK -->
{% block content %}
<!-- THE TAB SWITCHES -->
<section id="tab-switches">
    <!-- THE AUTOMATED SWITCH -->
    <button class="tab-switch active" data-tab="automated" onclick="handleTabSwitch('automated')">
        Automated Posts
    </button>

    <!-- THE SCHEDULED SWITCH -->
    <button class="tab-switch" data-tab="scheduled" onclick="handleTabSwitch('scheduled')">Scheduled Posts</button>
</section>

<!-- THE TABS -->
<section id="tabs">
    <!-- THE AUTOMATED TAB -->
    <section class="tab" data-tab="automated">
        <!-- THE TAB TITLE -->
        <h3 class="tab-title">Automated Posts</h3>

        <!-- THE RE-ORDER BUTTON -->
        <button class="re-order" data-tab="automated" onclick="handleReOrderSwitch('automated')">Re-Order Posts</button>

        <!-- THE POSTS -->
        <section class="posts" data-tab="automated">
            {% for post in posts.automated %}
            <form class="form post" data-form-id="{{ post.id }}" onsubmit="event.preventDefault();">
                <!-- THE INDEX -->
                <p class="form-index">{{ loop.index }}</p>

                <!-- THE HEADING -->
                <h3 class="form-heading" data-form-id="{{ post.id }}">Update the Post</h3>

                <!-- THE ID -->
                <input
                    type="number"
                    name="id"
                    class="form-input hidden"
                    data-form-id="{{ post.id }}"
                    value="{{ post.id }}" />

                <!-- THE MESSAGE -->
                <textarea
                    name="message"
                    class="form-textarea"
                    data-form-id="{{ post.id }}"
                    placeholder="What's on your mind?">
{{ post.message }}</textarea
                >

                <!-- THE LINK -->
                <input
                    type="url"
                    name="link"
                    class="form-input"
                    data-form-id="{{ post.id }}"
                    placeholder="http(s)://(www.)example.org"
                    value="{{ post.link }}" />

                <!-- THE MEDIA -->
                <section class="form-media" data-form-id="{{ post.id }}">
                    <!-- THE DROP ZONE -->
                    <div class="form-media-drop-zone" data-form-id="{{ post.id }}">Drop media here!</div>

                    <!-- THE GALLERY -->
                    <div class="form-media-gallery hidden" data-form-id="{{ post.id }}"></div>

                    <!-- THE SECONDARY GALLERY -->
                    {% if post.media %}
                    <div
                        class="form-media-gallery secondary {% if post.media == 'null' %} hidden {%endif%}"
                        data-form-id="{{ post.id }}">
                        <input
                            type="text"
                            name="images"
                            class="form-input hidden"
                            data-form-id="{{ post.id }}"
                            value="{{ post.media }}" />
                    </div>
                    {% endif %}

                    <!-- THE FILE INPUT -->
                    <input type="file" name="files" class="hidden" data-form-id="{{ post.id }}" multiple />

                    <!-- THE MEDIA INPUT -->
                    <input type="text" name="media" class="form-input hidden" data-form-id="{{ post.id }}" />
                </section>

                <!-- THE OPTIONS -->
                {% include './template/_options.html' %}

                <!-- THE TIME -->
                <input
                    type="datetime-local"
                    name="time"
                    class="form-input"
                    data-form-id="{{ post.id }}"
                    value="{{ post.time }}" />

                <!-- THE PRIORITY -->
                <input
                    type="number"
                    name="priority"
                    class="form-input hidden"
                    data-form-id="{{ post.id }}"
                    value="{{ post.priority }}" />

                <!-- THE BUTTONS -->
                <section class="form-buttons" data-form-id="{{ post.id }}">
                    <!-- THE AUTOMATE BUTTON -->
                    <button
                        class="form-button form-button-automate"
                        data-form-id="{{ post.id }}"
                        onclick="createPost('{{ post.id }}', 'automated')">
                        <i class="fa-regular fa-paper-plane"></i>&nbsp;&nbsp;&nbsp;&nbsp;Update
                    </button>

                    <!-- THE SCHEDULE BUTTON -->
                    <button
                        class="form-button form-button-schedule"
                        data-form-id="{{ post.id }}"
                        onclick="createPost('{{ post.id }}', 'scheduled')">
                        <i class="fa-solid fa-clock-rotate-left" style="font-size: 18px"></i>
                    </button>

                    <!-- THE PUBLISH BUTTON -->
                    <button
                        class="form-button form-button-publish"
                        data-form-id="{{ post.id }}"
                        onclick="createPost('{{ post.id }}', 'publish')">
                        Publish Now
                    </button>

                    <!-- THE DELETE BUTTON -->
                    <button class="form-button form-button-delete" data-form-id="{{ post.id }}">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                </section>
            </form>
            {% endfor %}
        </section>
    </section>

    <!-- THE SCHEDULED TAB -->
    <section class="tab hidden" data-tab="scheduled">
        <!-- THE TAB TITLE -->
        <h3 class="tab-title">Scheduled Posts</h3>

        <!-- THE RE-ORDER BUTTON -->
        <button class="re-order" data-tab="scheduled" onclick="handleReOrderSwitch('scheduled')">Re-Order Posts</button>

        <!-- THE POSTS -->
        <section class="posts" data-tab="automated">
            {% for post in posts.scheduled %}
            <form class="form post" data-form-id="{{ post.id }}" onsubmit="event.preventDefault();">
                <!-- THE INDEX -->
                <p class="form-index">{{ loop.index }}</p>

                <!-- THE HEADING -->
                <h3 class="form-heading" data-form-id="{{ post.id }}">Update the Post</h3>

                <!-- THE ID -->
                <input
                    type="number"
                    name="id"
                    class="form-input hidden"
                    data-form-id="{{ post.id }}"
                    value="{{ post.id }}" />

                <!-- THE MESSAGE -->
                <textarea
                    name="message"
                    class="form-textarea"
                    data-form-id="{{ post.id }}"
                    placeholder="What's on your mind?">
 {{ post.message }}</textarea
                >

                <!-- THE LINK -->
                <input
                    type="url"
                    name="link"
                    class="form-input"
                    data-form-id="{{ post.id }}"
                    placeholder="http(s)://(www.)example.org"
                    value="{{ post.link }}" />

                <!-- THE MEDIA -->
                <section class="form-media" data-form-id="{{ post.id }}">
                    <!-- THE DROP ZONE -->
                    <div class="form-media-drop-zone" data-form-id="{{ post.id }}">Drop media here!</div>

                    <!-- THE GALLERY -->
                    <div class="form-media-gallery hidden" data-form-id="{{ post.id }}"></div>

                    <!-- THE SECONDARY GALLERY -->
                    {% if post.media %}
                    <div
                        class="form-media-gallery secondary {% if post.media == 'null' %} hidden {%endif%}"
                        data-form-id="{{ post.id }}">
                        <input
                            type="text"
                            name="images"
                            class="form-input hidden"
                            data-form-id="{{ post.id }}"
                            value="{{ post.media }}" />
                    </div>
                    {% endif %}

                    <!-- THE FILE INPUT -->
                    <input type="file" name="files" class="hidden" data-form-id="{{ post.id }}" multiple />

                    <!-- THE MEDIA INPUT -->
                    <input type="text" name="media" class="form-input hidden" data-form-id="{{ post.id }}" />
                </section>

                <!-- THE OPTIONS -->
                {% include './template/_options.html' %}

                <!-- THE TIME -->
                <input
                    type="datetime-local"
                    name="time"
                    class="form-input"
                    data-form-id="{{ post.id }}"
                    value="{{ post.time }}" />

                <!-- THE PRIORITY -->
                <input
                    type="number"
                    name="priority"
                    class="form-input hidden"
                    data-form-id="{{ post.id }}"
                    value="{{ post.priority }}" />

                <!-- THE BUTTONS -->
                <section class="form-buttons" data-form-id="{{ post.id }}">
                    <!-- THE SCHEDULE BUTTON -->
                    <button
                        class="form-button form-button-schedule"
                        data-form-id="{{ post.id }}"
                        onclick="createPost('{{ post.id }}', 'scheduled')">
                        <i class="fa-solid fa-clock-rotate-left" style="font-size: 18px"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                        Update
                    </button>

                    <!-- THE AUTOMATE BUTTON -->
                    <button
                        class="form-button form-button-automate"
                        data-form-id="{{ post.id }}"
                        onclick="createPost('{{ post.id }}', 'automated')">
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>

                    <!-- THE PUBLISH BUTTON -->
                    <button
                        class="form-button form-button-publish"
                        data-form-id="{{ post.id }}"
                        onclick="createPost('{{ post.id }}', 'publish')">
                        Publish Now
                    </button>

                    <!-- THE DELETE BUTTON -->
                    <button class="form-button form-button-delete" data-form-id="{{ post.id }}">
                        <i class="fa-regular fa-trash-can"></i>
                    </button>
                </section>
            </form>
            {% endfor %}
        </section>
    </section>
</section>
{% endblock %}

<!-- THE SCRIPTS BLOCK -->
{% block scripts %}
<script src="/js/common/handleMedia.js"></script>
<script src="/js/common/handleCreatePost.js"></script>

<script src="/js/posts/handleTabSwitch.js"></script>
<script src="/js/posts/handleReOrderSwitch.js"></script>
<script src="/js/posts/handleSecondaryGallery.js"></script>
{% endblock %}
